@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

.alan-sans-400 {
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Alan Sans", sans-serif;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

section p {
    padding: 0 50px;
    text-align: center;
    line-height: 1.8; /*расстояние между буковами*/

}

#section-start {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
#section-middle {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
#section-end {
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
