body{
    background-image: url("https://s1.1zoom.ru/big0/846/Iceland_Mountains_Waterfalls_616668_1280x640.jpg");
    background-size: cover;
    background-attachment: fixed;
}
p{
    color: #000280;
    font-size: 32px;
}
h2,h3{
    color: red;
}
sub,sup{
    font-size: 28px;
    color: greenyellow;
}
span{
    font-size: 24px;
    color: yellow;
}
